@media (max-width: 767.98px) {
  .border-sm-start-none {
    border-left: none !important;
  }
}
.justify-content-center {
  .spinner {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    bottom: 0;
  }
}

img {
  width: 50px;
}
