.container {
  background-color: #e4f4f7;
  border-radius: 16px;
  background-image: url(../../../../assets/background2.jpg);
  background-size: cover;
  border: 1px solid #e5e1e1;
  transition: all 300ms ease-out 0s;
  &:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
}

.banner {
  margin: 0px 0 0 30px;
  background-color: white;
  padding: 20px 0;
  width: 100%;
}

.category {
  margin-top: 46px;
  span {
    font-weight: 600;
    margin-right: 4px;
  }
}

.logo {
  width: 90px;
  margin: 10px;
}

.content {
  margin-left: 30px;
  &__item {
    span {
      font-weight: 600;
    }
    p {
      padding-left: 10px;
    }
  }
}

h1 {
  span {
    color: #cf2030;
  }
}

.title {
  font-weight: 500;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 10px;
}

.addresss {
  width: 80%;
}

.flag {
  margin-bottom: 20px;
  img {
    width: 50px;
    margin-right: 10px;
  }
}

.button {
  display: flex;
  justify-content: center;
  margin: auto;

  button {
    background-color: #808080a8;
    border-radius: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0px 10px;
    width: 90px;
    height: 35px;
    transition: all 300ms ease-out 0s;

    &:hover {
      background-color: #cf2030;
    }
  }
}

.customer {
  font-size: 16px;
  &__item {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 16px;
  }

  .logo {
    width: 50px;
  }
  .addresss {
    margin-top: 30px;
    width: 150%;
  }

  .flag {
    width: 200%;
  }
}
